@tailwind base;
@tailwind components;
@tailwind utilities;



#shape {
    height: 800px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(100% 0, 0 0, 90% 12%);
    clip-path: polygon(100% 0, 0 0, 91% 10%);
}

.product-card {
    border: 1px solid lightgray;
    width: 22%;
    height: 300px;
    clip-path: polygon(65.52% 0%, 100% 28.77%, 100% 70.25%, 0% 70.5%, 0% 0%);
    background-color: #fff;
    padding-left: 12px;
    padding-top: 20px;
    padding-right: 12px;
}